@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway");

$smooth-brown: #ceb89f;
$dark-brown: #61503c;
$dark-blue: rgb(4, 36, 76);

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.snowfall {
  content: "";
  background: url("./assets/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.snowfall::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
}

.snowflake {
  position: absolute;
  color: white;
  z-index: 1000;

  &:after {
    content: "\2744";
  }
}

$snowflakes: 250;

@for $i from 1 through $snowflakes {
  $top: (random(50) + 50) * 1%;
  $left: random(100) * 1%;
  $delay: random(20) - 1s;
  $duration: random(6) + 4s;
  $size: random(24);

  .snowflake:nth-of-type(#{$i}) {
    animation-name: snowflake-#{$i};
    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    left: $left;
    top: -$top;
    &:after {
      font-size: $size * 1px;
    }
  }

  @keyframes snowflake-#{$i} {
    0% {
      transform: rotate(0deg);
      left: $left;
      top: -$top;
    }
    25% {
      left: $left + 1%;
    }

    50% {
      left: $left;
    }

    75% {
      left: $left + 2%;
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      top: $top + 40%;
      opacity: 0;
    }
  }
}

.content {
  position: relative;
  z-index: 1000;
  height: 100%;
}

p {
  font-family: "Raleway";
  margin: 0;
}

.welcome-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 50%;
    height: 50%;
    box-shadow: 0px 3px 8px #00000012;

    @media (max-width: 1023px) {
      width: 80%;
    }

    p {
      color: $dark-brown;
    }

    .merry-christmas {
      color: $smooth-brown;
      font-family: "Pacifico";
      font-size: 50px;

      @media (max-width: 1023px) {
        font-size: 30px;
      }
    }

    button {
      margin-top: 30px;
    }
  }
}

.text {
  margin: 30px;
  text-align: center;
}

button {
  font-size: 25px;
  outline: none;
  cursor: pointer;
  height: 40px;
  border: none;
  background: none;
  width: 100%;

  &:hover {
    font-size: 40px;
  }
}

.giftboxes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .giftbox {
    border: 5px solid white;
    margin: 40px;
    color: $dark-brown;
    font-family: "Pacifico";
    font-size: 40px;
    cursor: pointer;
    background-color: white;
    background-repeat: no-repeat;
    text-align: center;
    height: 80px;
    width: 80px;

    &:hover {
      background: none;
      border: 5px solid $dark-brown;
    }
  }
}

.ReactModalPortal {
  z-index: 2000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    width: 70%;
  }

  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .giftModal {
    border: none;
    background-color: white;
    padding: 24px;
    outline: none;
    overflow: auto;
    max-height: 100%;

    @media screen and (min-width: 1024px) {
      width: 60%;
    }
  }
}

.modal_content {
  color: $dark-brown;

  h1 {
    font-family: "Pacifico";
    color: $smooth-brown;
    text-align: center;
    margin: 0 0 24px 0;
  }

  button {
    max-width: 40%;
    margin: 24px 30% 24px 30%;
  }

  ul {
    margin: 0;
    padding-left: 20px;
  }

  img {
    max-width: 40%;
    margin: 0 30% 24px 30%;
  }
}
